.header {
    padding-top: 125px;
    padding-bottom: 25px;
}

.about {
    width: 100%;

    display: block;
    overflow: hidden;
    padding-top: 25px;

    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 12px;
}

.staff {
    width: 90%;

    text-align: center;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.staff img {
    width: 45%;

    border-radius: 100%;
    border: 1px solid rgb(167, 167, 255);

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.staff .section {
    text-align: center;
    align-items: center;

    height: max-content;
}

.sections {
    padding: 25px;
}

.section .profile {
    background: rgb(40, 107, 40);
    border-radius: 6px;

    width: 15em;
    height: 20em;

    padding: 12px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;

    display: inline-block;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.section header h2 {
    font-family: 'Rajdhani Light', sans-serif;
    font-size: 2em;

    color: rgb(166, 255, 240);
}

.section header p {
    font-family: 'Rajdhani Light', sans-serif;
    font-size: 1.65em;

    color: rgb(90, 197, 179);
}

.profile span {
    padding-top: 8px;
    font-family: 'Rajdhani Light', sans-serif;

    color: rgb(216, 216, 216);
    font-size: 1.5em;

    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.profile div {
    background: rgba(0, 0, 0, 0.2);

    padding: 12px;
    margin-top: 2%;

    height: 30%;

    font-family: 'Rajdhani', sans-serif;
    font-size: 1.25em;
    color: rgb(137, 178, 255);

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.profile div a {
    font-family: 'Rajdhani Light', sans-serif;
    font-size: 1.5rem !important;

    color: rgb(209, 209, 209);
    text-decoration: none;
}

.profile div a:hover {
    color: rgb(76, 188, 202);

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
}

.wookuz span {
    color: rgb(173, 252, 136);
}

.wookuz {
    background: #4a6e16 !important;
}

.bluspring {
    background: rgb(44, 138, 175) !important;
}

.bird {
    background: rgb(27, 139, 77) !important;
}

.marls {
    background: rgb(153, 50, 50) !important;
}

.bluspring span {
    color: rgb(170, 255, 230);
}

.bird span {
    color: rgb(11, 255, 162);
}

.marls span {
    color: rgb(255, 150, 131);
}