body {
    overflow-x: auto;
}

#bingo-card {
    display: grid;

    grid-template-rows: 12rem 12rem 12rem 12rem 12rem;
    grid-template-columns: 12rem 12rem 12rem 12rem 12rem;
}

.selected {
    background-color: rgb(166, 255, 139) !important;
}

#bingo-card div {
    padding: 40% 5%;

    justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid black;

    vertical-align: middle;

    position: relative;
    font-size: 1em;
}

#bingo-card div img {
    margin: auto;

    position: absolute;
    left: 0;
    right: 0;

    width: 50%;
}

#bingo-card div img:nth-child(1) {
    top: 5%;
}

#bingo-card div img:nth-child(2) {
    bottom: 5%;
}