.header {
    padding-top: 1em;
    padding-bottom: 250px;

    display: inline-block;
    line-height: 10px;
}

.header h2 {
    line-height: 2.5rem;
}

.header span a {
    color: rgb(247, 132, 132);
}

.header span a:hover {
    color: rgb(245, 184, 184);
}

.body {
    position: absolute;
    top: 50px;

    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.event {
    width: 90%;
    height: 30vh;

    display: block;
    overflow: hidden;
    padding-top: 25px;

    margin: 0 auto;
}

.background {
    width: 100%;
    height: 100%;

    z-index: 7;

    transition: all 200ms ease-out;

    background-size: 100%;
    background-repeat: no-repeat;

    background-position-x: center;
    background-position-y: center;

    cursor: pointer;
}

.background-wrapper {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.5));
    height: 30vh;
    width: 60%;

    z-index: 7;

    transition: all 200ms ease-out;
}

.content h1:hover ~ .background-wrapper,
.background-wrapper:hover {
    width: 62%;

    filter: drop-shadow(-1px 5px 6px rgba(0, 0, 0, 0.8));
}

.background-wrapper:hover > .background {
    background-size: 110%;

    filter: brightness(1.3);
}

.left {
    padding-right: 25px;
}

.right {
    padding-left: 25px;
}

.left .content h1, .left .content p {
    text-align: right;
}

.event .content {
    background: rgb(49, 49, 49);
    width: 100%;
    height: 100%;

    position: relative;
    top: 0;
    z-index: 2;

    border-radius: 4px;

    padding: 12px;
    vertical-align: middle;

    align-items: center;
    justify-content: center;
}

.content .description {
    background: rgb(42, 42, 42);
    overflow: auto;

    padding: 15px;

    border-radius: 5px;
    height: 60%;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.content h1 {
    font-size: 2em;
    font-family: 'Rajdhani Light', 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

    position: absolute;
    top: -0.2em;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.left h1 {
    right: 12px;
}

.content p {
    font-size: 1em;
    font-family: 'Rajdhani Medium', 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: #b6b6b6;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

#winter .background {
    background-image: url(/img/previews/winter.png);
    background-position-x: left;
}

#winter .content h1 {
    color: rgb(177, 255, 251);
}

#spring .background {
    background-image: url(/img/previews/spring.png);
    background-position-x: 32%;
}

#spring .content h1 {
    color: #cfa226;
}

#fall .background {
    background-image: url(/img/previews/under_construction.png);
}

#fall .content h1 {
    color: rgb(235, 102, 50);
}

#summer .background {
    background-image: url(/img/previews/under_construction.png);
}

#summer .content h1 {
    color: #ebcb17;
}

.left .background-wrapper {
    position: relative;
    left: 0;
    float: left;
}

.left .background {
    clip-path: polygon(0 0, 100% 0%, calc(100% - 5vw) 100%, 0% 100%);
}

.right .background {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 5vw) 100%);
}

.right .background-wrapper {
    position: relative;
    right: 0;
    float: right;
}

.events {
    padding-bottom: 35px;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}