.header {
    padding-top: 125px;
    padding-bottom: 25px;
}

.info {
    width: 100%;

    display: block;
    overflow: hidden;

    padding-top: 2em;

    text-align: center;

    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 12px;
}

.card {
    max-width: 100%;
    width: 100%;

    min-height: 100vh;

    text-align: center;

    margin: auto;

    vertical-align: middle;
}

.card .content {
    width: 70%;

    height: 100%;

    padding-top: 15em;
    padding-bottom: 15em;

    z-index: 4;
    margin: auto;

    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    vertical-align: middle;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.card .content h1 {
    font-family: "Rajdhani", "Segoe UI Light", sans-serif;
    font-weight: 300;

    color: rgb(235, 202, 202);
    text-shadow: 0px 0px 16px rgba(252, 238, 238, 0.8),
        4px 4px 4px rgba(0, 0, 0, 0.6);

    mix-blend-mode:hard-light;
    font-size: 3em;
}

.card .content p {
    font-family: "Rajdhani", "Segoe UI Light", sans-serif;
    font-weight: 300;

    font-size: 1.5em;
    color: rgb(191, 231, 250);
}

.card .content strong {
    color: rgb(162, 91, 255);
    text-shadow: 0px 0px 8px rgba(85, 27, 161, 0.8),
        4px 4px 4px rgba(0, 0, 0, 0.6);
}

.card .content a {
    color: rgb(251, 130, 255);
    mix-blend-mode: color-dodge;
}

.cards {
    width: 100%;

    height: 100%;

    display: inline-block;

    text-align: center;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.end {
    font-family: "Rajdhani", "Segoe UI", sans-serif;

    padding: 2em;
}

.end h3 {
    font-size: 4em;

    color: rgb(193, 251, 255);
}

.end p {
    font-size: 1.5em;

    color: rgb(219, 159, 159);
}

.end p a {
    color: rgb(181, 247, 187);
}