
.upper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    width: 40vw;
    height: 15vw;

    pointer-events: none;
    word-wrap: break-word;
}

.upper h2 {
    font-family: Rajdhani;
    font-weight: 100;

    /*font-size: 4em;*/

    font-size: 5vw;

    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /*padding: 20% 0;*/

    color: rgb(128, 252, 231);

    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), 
        0px 0px 4px rgb(84, 173, 158), 
        0px 0px 4px rgb(84, 170, 156), 
        0px 0px 8px rgb(57, 153, 137);
}

@media only screen and (max-width: 548px) {
    .upper h2 {
        font-size: 12vw;
    }

    .upper h4 {
        font-size: 9vw !important;
    }

    .upper {
        width: 80vw;
        height: 40vw;
    }
}

.upper h2 span {
    font-family: Rajdhani;
    font-weight: 300;

    color: rgb(193, 251, 255);

    text-shadow: 0px 0px 12px rgba(128, 252, 231, 0.9), 0px 0px 4px black, 0px 0px 4px black, 0px 0px 8px black;
}

.upper h4 {
    font-family: Rajdhani;
    font-weight: 100;

    text-align: center;
    /*padding: 25% 0;*/

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    color: rgb(255, 163, 163);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8), 
        0px 0px 4px rgb(99, 33, 33), 
        0px 0px 4px rgb(119, 38, 38), 
        0px 0px 8px rgb(185, 62, 62), 
        0px 0px 8px rgb(139, 43, 43),
        0px 0px 8px rgb(110, 34, 34), 
        0px 0px 8px rgb(85, 24, 24);

    /*font-size: 2.5em;*/
    font-size: 3vw;
}

.lower {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: auto;
    width: 60%;
    height: 50px
}

.socials {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    align-content: center;
}

.socials a {
    font-size: 2em;

    margin-left: 2%;
    margin-right: 2%;

    color: rgb(228, 228, 228);
    text-decoration: none;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.socials a:hover {
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
}

.disclaimer {
    width: 15%;
    position: fixed;
    bottom: 0;
    right: 1%;
    text-align: right;

    color: rgb(218, 218, 218);
    font-family: "Rajdhani Light", "Segoe UI Light", sans-serif;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.discord:hover {
    color: #5865F2;
}

.twitter:hover {
    color: #00acee;
}

.gitlab:hover {
    color: #E2432A;
}

.tiktok:hover {
    color: #222222;
}

.youtube:hover {
    color: #FF0000;
}

.icon span {
    font-size: 100%;
    font-family: ""
}

.switch {
    color: rgb(228, 228, 228);
    font-size: 2em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.switch:hover {
    color: rgb(57, 153, 137);
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
}