.header span {
    font-size: 100% !important;
}

.header h2 {
    font-size: 2ex;
}

.header {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    height: 60vh;
    line-height: 1.4;
}

#time {
    font-size: 6rem !important;

    color: #a1ffae;
}

#image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -9;
}