@font-face {
    font-family: Rajdhani;
    src: url(/font/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(/font/Rajdhani-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Rajdhani;
    src: url(/font/Rajdhani-Medium.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Rajdhani;
    src: url(/font/Rajdhani-SemiBold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Rajdhani;
    src: url(/font/Rajdhani-Bold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Rajdhani Light';
    src: url(/font/Rajdhani-Light.ttf);
}

@font-face {
    font-family: 'Rajdhani Medium';
    src: url(/font/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'Rajdhani SemiBold';
    src: url(/font/Rajdhani-SemiBold.ttf);
}

@font-face {
    font-family: 'Rajdhani Bold';
    src: url(/font/Rajdhani-Bold.ttf);
}

body {
    background: #171b20;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 4px;
}
 
body::-webkit-scrollbar-track {
    background-color: #292929;
    border-radius: 25px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 100px;
}

div::-webkit-scrollbar {
    width: 4px;
}
 
div::-webkit-scrollbar-track {
    background-color: #292929;
    border-radius: 25px;
}
 
div::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 100px;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.slide .attributions {
    position: absolute;
    bottom: 2%;
    left: 1%;

    font-size: 1em;
    font-family: Rajdhani;
    font-weight: 300;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);

    color: rgb(202, 202, 202);

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

@media screen and (max-width: 815px) {
    .slide .attributions {
        font-size: 2vw;
    }
}

.slide .attributions a {
    text-decoration: none;
    color: rgb(245, 136, 136);
    cursor: pointer;

    font-family: Rajdhani;
    font-weight: 300;

    -webkit-user-select: initial;
    user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    -webkit-user-drag: none;
}

.slide .attributions a:hover {
    color: rgb(182, 238, 252);
}

#slides {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    margin: auto;

    z-index: -4;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);

    z-index: 45;
}

.navbar .icon {
    height: 45px;
    line-height: 45px;
    position: absolute;
    left: 0;

    vertical-align: middle;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    z-index: 12;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    text-decoration: none;
}

.navbar .icon div {
    vertical-align: middle;

    width: 175px;
    height: 45px;

    display: flex;

    cursor: pointer;
}

.navbar .icon:hover, .navbar .icon div:hover > div::before {
    background: rgba(214, 249, 255, 0.1);
    box-shadow: 0px 0px 8px rgba(31, 95, 95, 0.5);
    border-radius: 2px;
}

.navbar .icon img:hover {
    transform: scale(95%);

    -webkit-filter: drop-shadow(1px 1px 3px rgba(220, 251, 255, 0.5))
                  drop-shadow(-1px -1px 3px rgba(220, 251, 255, 0.5));
    filter: drop-shadow(1px 1px 3px rgba(220, 251, 255, 0.5)) 
          drop-shadow(-1px -1px 3px rgba(220, 251, 255, 0.5));
}

.navbar .icon img {
    height: 45px;
    image-rendering: pixelated;

    cursor: pointer;
}

.navbar .icon span {
    font-family: 'Rajdhani Light', "Segoe UI Light", sans-serif;
    color: rgb(128, 252, 231);

    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), 
        0px 0px 4px rgb(84, 173, 158), 
        0px 0px 4px rgb(84, 170, 156), 
        0px 0px 8px rgb(57, 153, 137);

    cursor: pointer;

    font-size: 20px;
}

.navbar .icon span span {
    font-family: 'Rajdhani', "Segoe UI", sans-serif;
    color: rgb(193, 251, 255);

    text-shadow: 0px 0px 12px rgba(128, 252, 231, 0.9), 
        0px 0px 4px rgba(102, 211, 193, 0.9), 
        0px 0px 4px rgba(94, 197, 180, 0.9), 
        0px 0px 8px rgba(79, 199, 179, 0.9);

    cursor: pointer;

    font-size: 20px;
}

.navbar .nav-button {
    position: relative;

    font-family: 'Rajdhani Light';
    font-weight: 300;
    font-size: 32px;

    text-decoration: none;
    text-align: center;

    display: flex;

    color: rgb(221, 221, 221);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);

    line-height: 45px;
    height: 45px;
    vertical-align: middle;
}

.navbar .nav-button:hover {
    color: rgb(172, 231, 255);
    text-shadow: 0px 0px 6px rgb(185, 241, 255), 
        0px 0px 6px rgb(185, 241, 255),
        0px 0px 6px rgb(185, 241, 255),
        0px 0px 6px rgb(185, 241, 255),
        6px 6px 4px rgba(0, 0, 0, 0.6);
}

.navbar .nav-button:hover > div {
    background: rgba(214, 249, 255, 0.1);
    box-shadow: 0px 0px 8px rgba(31, 95, 95, 0.5);
    border-radius: 2px;
}

.navbar .nav-button div {
    text-align: center;

    height: 45px;
    line-height: 45px;

    width: 120px;
}

.navbar-links #home {
    position: relative;
    left: 0;
}

.navbar-links #events {
    position: relative;
    left: 0;
    right: 0;
}

.navbar-links #about {
    position: relative;
    right: 0;
}

.navbar-links {
    height: 45px;
    position: absolute;
    right: 5px;
    top: 0;
    margin: auto;
    width: 15vw;
    text-align: center;
    display: flex;

    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;
}

.navbar-links a {
    vertical-align: middle;
    margin: auto;

    display: flex;

    line-height: 45px;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fader {
    animation: fader ease-in-out .5s 0s normal paused 1 forwards;
    
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1999;
}

@keyframes fader {
    0% {
        pointer-events: initial;
        opacity: 1;
    }

    100% {
        pointer-events: none;
        opacity: 0;
    }
}

.header {
    height: 80px;
    width: 100%;

    padding-top: 35px;
    padding-bottom: 25px;

    font-size: 6vh;

    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;

    line-height: 80px;
    
    display: flex;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.header h2 {
    font-family: 'Rajdhani Light', "Segoe UI Light", sans-serif;
    color: rgb(139, 255, 245);

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;

    font-weight: 200;
}

.geppy {
    image-rendering: pixelated;

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.footer {
    height: 250px;
    width: 100%;

    padding-top: 35px;

    text-align: center;
    font-family: 'Rajdhani', "Segoe UI Light", sans-serif;
}

.footer div {
    width: 12em;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.footer h2 {
    color: rgb(128, 252, 231);

    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8), 
        0px 0px 4px rgb(84, 173, 158), 
        0px 0px 4px rgb(84, 170, 156), 
        0px 0px 8px rgb(57, 153, 137);

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;

    font-weight: 100;
}

.footer h2 span {
    color: rgb(193, 251, 255);

    text-shadow: 0px 0px 12px rgba(128, 252, 231, 0.9), 
        0px 0px 4px rgba(102, 211, 193, 0.9), 
        0px 0px 4px rgba(94, 197, 180, 0.9), 
        0px 0px 8px rgba(79, 199, 179, 0.9);

    font-weight: 400;
}

.footer p {
    color: rgb(173, 173, 173);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.footer a {
    text-decoration: none;
    color: rgb(104, 104, 104);

    cursor: pointer;
}

.footer a:hover {
    color: rgb(172, 232, 243);
}

.footer .geppy {
    width: 5vw;
}

.header h2 span, .header span {
    font-size: 2rem;
    color: rgb(233, 76, 76);

    font-family: 'Rajdhani', sans-serif !important;
    font-weight: 300;
}