<meta property="og:type" content="website">
<meta property="og:description" content="We are Vandal Events, a team dedicated to put together seasonal-based events in Minecraft.">
<meta name="description" content="We are Vandal Events, a team dedicated to put together seasonal-based events in Minecraft.">
<meta property="og:image" content="https://vandal.events/img/previews/spring.png">
<meta name="keywords" content="vandal, vandal events, minecraft, minecraft event, events, seasonal, spring, winter, fall, summer, event, seasons, season, mc, end, minigame, minigames, game, games">

<meta property="og:site_name" content="Vandal Events">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="Vandal Events">
<meta property="twitter:image" content="https://vandal.events/img/seasonal/geppy_spring.png">
