<footer class="footer">
    <img class="geppy" src="/img/icons/seasonal/geppy_winter.png">
    <div>
        <h2><span>Vandal</span> Events</h2>
        <p>
            Not affiliated in any way with Minecraft, Mojang Studios or Microsoft.<br><br>
            <a href="mailto:contactvandalevents@gmail.com">E-mail</a>&nbsp;·&nbsp;<a href="/twitter">Twitter</a>&nbsp;·&nbsp;<a href="/discord">Discord</a>
        </p>
    </div>
</footer>