<div class="navbar">
    <a href="/" title="Vandal Events" class="icon">
        <div>
            <img src="/img/icons/geppy.png" id="geppy">&nbsp;
            <span><span>Vandal</span> Events</span>
        </div>
    </a>

    <div class="navbar-links">
        <a href="/events" class="nav-button" title="Events" id="events"><div>Events</div></a>
        <a href="/about" class="nav-button" title="About Us" id="about"><div>About Us</div></a>
    </div>
</div>