#spring-1 {
    background: url(/img/previews/spring/spring-1.png) no-repeat fixed center;
}

#spring-2 {
    background: url(/img/previews/spring/spring-2.png) no-repeat fixed center;
}

#spring-3 {
    background: url(/img/previews/spring/spring-3.png) no-repeat fixed center;
}

#spring-4 {
    background: url(/img/previews/spring/spring-4.png) no-repeat fixed center;
}